body, html{
    height:100%;
}

.athird{
    width:33.3%;
    box-sizing:border-box;
    float:left;
}

.afourth{
    width:25%;
    box-sizing:border-box;
    float:left;
}

.half{
    width:50%;
    box-sizing:border-box;
    float:left;
}

.quarterheight{
    height:2.5vh;
}

.halfheight{
    height:5vh;
}

.threefourthheight{
    height:7.5vh;
}

.oneheight{
    height:10vh;
}

.twoheight{
    height:20vh;
}

.threeheight{
    height:30vh;
}

.fourheight{
    height:40vh;
}

.fiveheight{
    height:50vh;
}

.sixheight{
    height:60vh;
}

.sevenheight{
    height:70vh;
}

.eightheight{
    height:80vh;
}

.nineheight{
    height:90vh;
}

.fullheight{
    height:100vh;
}

.image{
    display:block;
    margin:0 auto;
    width:70%;
}

.cameraIcon{
    width:30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFDA1A;
    position:absolute;
    bottom:-10%;
    left:65%;
}

.cameraContainer{
    position:relative;
}

.border{
    border:1px solid;
}

.topnav{
    padding-left:5%;
    padding-right:5%;
    display:flex;
    align-items:center;
}

h1{
    font-size:12vw;
    font-weight:bold;
    text-align:center;
    font-family:impact;
    color:#7a7a7a;
}

h2{
    font-size:8vw;
    font-weight:bold;
    text-align:center;
    font-family:impact;
    color:#7a7a7a;
}

h3, h4{
    font-weight:bold;
    font-family:impact;
    color:#7a7a7a;
    margin:0;
}


h5{
    display:block;
    margin:0 auto;
    font-family:impact;
    color:#7a7a7a;
    text-align:center;
    padding-top:2%;
    font-weight:normal;
}

h6{
    display:block;
    margin:0 auto;
    font-family:impact;
    color:#7a7a7a;
    text-align:center;
    padding-bottom:15%;
    font-weight:normal;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    color:#7a7a7a;
    letter-spacing:0.05em;
    font-size:0.9em;
}

.page{
    padding-right:10%;
    padding-left:10%;
}

.widePage{
    padding-right:5%;
    padding-left:5%;
}

a{
    text-decoration:none;
    color:#538AD1;
}

.yellowBottomButton{
    display:block;
    margin:0 auto;
    background-color:#FFDA1A;
    border:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    font-weight:bold;
    font-size:5vw;
    width: 80%;
    text-align:center;
    border-radius:20px;
    color:#7a7a7a;
}

.avatar{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius:30%;
}

.avatar.small{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius:30%;
}

.avatar.mini{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius:30%;
}

.avatar.tiny{
    height:30px;
    width:30px;
    object-fit:cover;
    border-radius:30%;
}

.form{
    width:100%;
    position:relative;
    height:50px;
    overflow:hidden;
    border:1px solid #7a7a7a;
    border-radius:15px;
}

.form input{
    width:100%;
    height:100%;
    color:#7a7a7a;
    border:none;
    outline:none;
    padding-left:5%;
    padding-top:1%;
    font-size:1.1em;
}

.form label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    bottom:20%;
    left:5%;
    width:100%;
    height:100%;
    pointer-events:none;
    color:#7a7a7a;
}

.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3s ease;
    background:white;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name{
    transform:translateY(-190%);
    font-size:9px;
}

.form input:focus, .form input:valid{
    transform:translate(0%);
}

.icon{
    width:20px;
}

.icon.right{
    width:20px;
    float:right;
}

.cancelNavButton{
    border:none;
    background:none;
    float:right;
    color:#538AD1;
    font-size:0.9em;
    padding:0;
}

.tabbar{
    overflow:hidden;
    text-align:center;
    height:100%;
}

.tabbar .afourth{
    border-bottom:1px solid #7a7a7a;
    height:100%;
}

.tabbar a{
    color:#79828B;
    text-decoration:none;
    font-family:impact;
}

.tabbar .active{
    border-bottom:3px solid #FFDA1A;
    font-weight:bold;
}

.horizontalList{
    overflow:auto;
    white-space:nowrap;
    background-color:#F4F6F8;
}

.horizontalList .items{
    display:inline-block;
    color:#7a7a7a;
    text-align:center;
    padding-top:5%;
    padding-left:4%;
    padding-right:4%;
    text-decoration:none;
}

::-webkit-scrollbar{
    width:0px;
    background:transparent;
}

.greyArea{
    background-color:#F4F6F8;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.greyArea h5{
    text-align:left;
}

.greyArea h6{
    text-align:left;
}

.verticalList{
    overflow:auto;
    margin:0;
}

.verticalList .items{
    display:flex;
    align-items:center;
    padding-bottom:5%;
}

.verticalList .items .content{
    padding-left:5%;
}

.verticalList .items .mainContent{
    display:inline;
    margin:0 auto;
    font-family:impact;
    color:#7a7a7a;
    font-weight:bold;
}

.verticalList .items .extraContent{
    display:block;
    margin:0 auto;
    font-family:impact;
    color:#7a7a7a;
    padding-top:2%;
}

.alphabetContainer{
    margin:5% 0;
    margin-left:4%;
    width:25px;
    height:25px;
    background-color:#FFDA1A;
    border-radius:40%;
    display:flex;
    align-items:center;
}

.alphabet{
    position:relative;
    display:block;
    margin:0 auto;
    font-family:impact;
    font-weight:bold;
}

.iconContainer{
    width:30px;
    height:30px;
    background-color:#DCE6F3;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:40%;
}

.threefourthheight input{
    width:100%;
    height:100%;
    border:none;
    border-radius:10px;
    padding-left:3%;
    box-sizing:border-box;
    background-color:#F7F8FA;
}

.threefourthheight .topSearchBarForm{
    height:75%;
    width:100%;
    display:flex;
    align-items:center;
    background-color:#F7F8FA;
    box-sizing:border-box;
    border-radius:10px;
    padding-left:3%;
}

.threefourthheight input:focus{
    border:none;
    outline:none;
}

.sevenheight.verticalList{
    background-color:#F4F6F8;
}

.sevenheight.verticalList ul{
    margin:0;
    padding:0;
}

.areaItems{
    background-color:white;
    box-sizing:border-box;
    border-radius:25px;
    padding:7%;
    margin-bottom:5%;
}

.areaItems h6{
    text-align:left;
    padding:0;
    margin-bottom:3%;
}

.areaItems h4{
    padding:0;
    margin-bottom:2%;
}

.progressBar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:2%;
}

.progressCircle.full{
    width:9px;
    height:9px;
    background-color: #FFDA1A;
    border-radius:50%;
    border:1px solid #FFDA1A;
}

.progressCircle.half{
    width:11px;
    height:11px;
    background-color:white;
    border-radius:50%;
    border:2px solid #FFDA1A;
}

.progressCircle.empty{
    width:9px;
    height:9px;
    background-color:#DCE1EA;
    border-radius:50%;
}

.progressNumber{
    width: 35px;
    height:25px;
    background-color:#FFDA1A;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.7em;
    font-family:impact;
    font-weight:bold;
}

.group.portraits img{
    padding-right:2%;
}

.group.portraits{
    display:flex;
    justify-content:flex-start;
}

.roomList{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;
}

.room.active{
    width:65px;
    height:65px;
    background-color:#FFDA1A;
    margin:3%;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:impact;
    font-weight:bold;
    color:#7a7a7a;
    position:relative;
}

.room{
    width:65px;
    height:65px;
    background-color:white;
    margin:3%;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:impact;
    font-weight:bold;
    color:#7a7a7a;
    position:relative;
}

.roomIndicator{
    position:absolute;
    margin:0 auto;
    bottom:-5%;
    height:5px;
    width:20px;
    background-color:#DDE2EA;
    border-radius:10px;
    border:3px solid #F4F6F8;
    flex:0 0 100%;
}

.roomIndicator.active{
    position:absolute;
    margin:0 auto;
    bottom:-5%;
    height:5px;
    width:20px;
    background-color:#FFDA1A;
    border-radius:10px;
    border:3px solid #F4F6F8;
    flex:0 0 100%;
}

.roomContainer.small{
    width:45%;
    box-sizing:border-box;
    border:1px solid #9a9a9a;
    border-radius:25px;
    padding:2%;
    display:flex;
    justify-content:space-between;
    margin-bottom:5%;
}

.roomContainer.medium{
    width:45%;
    height:17vh;
    box-sizing:border-box;
    border:1px solid #9a9a9a;
    border-radius:25px;
    padding:2%;
    display:flex;
    justify-content:space-between;
    margin-bottom:5%;
}

.roomContainer.big{
    width:45%;
    height:25vh;
    box-sizing:border-box;
    border:1px solid #9a9a9a;
    border-radius:25px;
    padding:2%;
    display:flex;
    justify-content:space-between;
    margin-bottom:5%;
}

.roomFacility{
    display:flex;
    align-items:flex-end;
}

.roomFacility h5{
    font-size:1em;
    display:flex;
    align-items:center;
    font-weight:bold;
}

.roomFacility h6{
    font-size:0.8em;
    font-weight:normal;
}

.roomFacility img{
    width:35px;
}

.groupList{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
}

.groupList .group{
    width:45%;
    background-color:white;
    box-sizing:border-box;
    border-radius:25px;
    padding:5%;
    margin-bottom:10%;
}

.groupList .group h6{
    float:left;
    padding:0;
}

.groupList .group h3{
    float:left;
    padding:0;
}

.groupMembers{
    display:flex;
    justify-content:space-between;
}